/*ELECCION*/

.Seleccion{
    height: 100%;
}

.Seleccion{
    width: 800px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFF;
    background-color: #282936;
    border: 1px solid #000000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.Seleccion:hover{
    background-color: #FFF;
    color: #000;
    transform: translateY(-7px);
}

.regis{
    width: 300px;
    height:70px;
}

.inicio{
    width: 300px;
    height: 70px;
}

.admin{
    width: 300px;
    height: 70px;
}

.admin2{
    width: 300px;
    height: 50px;
    font-size: 13px;
}